@using System.Globalization

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <title>@ViewData["Title"]</title>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link href="~/Paradise.WebApi.styles.css"
          rel="stylesheet"
          asp-append-version="true" />
</head>

<body style="margin:0px;">
    @RenderBody()
</body>

</html>